<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       <context:property-placeholder location="classpath:io.properties" ignore-unresolvable="true"/>
       <bean id="TCPServer" class="com.wgh.core.channel.tcp.TCPServer">
              <property name="ip" value="${tcp.ip}"></property>
              <property name="port" value="${tcp.port}"></property>
              <property name="groupSize" value="${tcp.groupSize}"></property>
              <property name="workSize" value="${tcp.workSize}"></property>
              <property name="backLog" value="${tcp.backLog}"></property>
       </bean>
</beans>